*
{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html
{
    font-size: 62.5%;
    font-family: sans-serif;
    box-sizing: border-box;
}

.all
{
    background-image: linear-gradient(to right bottom, rgb(3, 3, 24),rgb(3, 6, 28),rgb(2, 19, 41),rgb(1, 21, 29));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container
{
    height: 70vh;
    width: 25vw;
   display: grid;
   grid-template-rows:2fr minmax(20px,min-content) repeat(4,1fr);
   grid-template-columns: 1fr 4fr 1fr;
    background-color: rgb(126, 138, 168);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to right bottom, rgba(3, 147, 176, 0.544),rgb(141, 126, 193),rgba(73, 146, 210, 0.761));
   transition: all 0.3s;
   overflow: hidden;



}
.container:active
{
    transform: scale(1.03);
}
.all .circle-spain
{
   
    position: absolute;
    top: 10%;
    left: 28%;
    
  
    animation: spinner 8s linear infinite;

}
.all .circle-spain2
{
    position: absolute;
    top: 10%;
    left: 62%;
    transform: translate(-100%,-100%) rotate(0);
  
    animation: spinner 8s linear infinite;

}


.spin
{
    
    animation-name: spin;
    animation-duration: 2s;
}



.app-title
{
    
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 3rem;
    font-family: monospace;
    font-weight: 600;
    letter-spacing: 4px;
    background-image: linear-gradient(to right, rgba(98, 173, 163, 0.734),rgb(65, 146, 111));
    border-radius: 20px;
    height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.weather-icon
{
    grid-row: 3/4;
    grid-column: 2/3;
    position: relative;
    bottom: 20px;
    

    

}
.temperature-value
{
    grid-row: 4/5;
    grid-column: 2/3;
    font-size: 5rem;
    position: relative;
    bottom: 40px;
}
.temperature-description
{
    grid-row: 5/6;
    grid-column: 2/3;
    font-size: 3rem;
    position: relative;
    bottom: 40px;
}
.location
{
    grid-row: 6/7;
    grid-column: 2/3;
    font-size: 3rem;
    position: relative;
    bottom: 40px;
}
.notification
{
    grid-row: 2/3;
    grid-column: 1/4;
    background-color: rgb(212, 42, 42);
    height: 100%;
   font-size: 2rem;
   font-family: sans-serif;
   padding-top: 1rem;
   color: black;
  

}
.ani{
    animation-name: error;
    animation-duration: 1s;
    animation-timing-function: linear;
    
}
.back
{
    background-color: transparent;
}
.copy
{
    position: absolute;
    top: 90%;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-weight: 400;
    text-align: center;
}
@keyframes error
{
    0%{
      background-color: rgba(240, 248, 255, 0);
      color: rgba(0, 0, 0, 0);
    }
    100%{
        background-color: rgb(208, 53, 53);
        color: rgb(0, 0, 0);
    }
}




@keyframes  spinner
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform:  rotate(360deg);
    }
}


@media only screen and (min-width:250px)
{


    .container{
        width: 80%;
        height: 65%;
    }

    .all .circle-spain
    {
       
        position: absolute;
        top:3%;
        left: 50%;
        
        
        
      
        animation: spinner 8s linear infinite;
    
    }
    .all .circle-spain2
    {
        position: absolute;
        top: 3%;
        left: 10%;
        transform: translate(-100%,-100%) rotate(0);
      
        animation: spinner 8s linear infinite;
    
    }
}
@media only screen and (min-width:450px)
{
    .container{
        width: 50%;
        height: 65%;
    }

    .all .circle-spain
    {
       
        position: absolute;
        top: 1%;
        left: 62%;
        
        
        
      
        animation: spinner 8s linear infinite;
    
    }
    .all .circle-spain2
    {
        position: absolute;
        top: 1%;
        left: 15%;
        transform: translate(-100%,-100%) rotate(0);
      
        animation: spinner 8s linear infinite;
    
    }

}

@media only screen and (min-width:600px)
{
    .container{
        width: 40%;
        height: 65%;
    }
     
    .all .circle-spain
    {
       
        position: absolute;
        top: 10%;
        left: 10%;
        
      
        animation: spinner 8s linear infinite;
    
    }
    .all .circle-spain2
    {
        position: absolute;
        top: 10%;
        left: 70%;
        transform: translate(-100%,-100%) rotate(0);
      
        animation: spinner 8s linear infinite;
    
    }










}

@media only screen and (min-width:900px)
{
        .all{
         box-shadow: 0.1rem 0.1rem 10rem 2rem black inset;
    }
    .container{
        width: 35%;
        height: 65%;
    }
    .all .circle-spain
{
   
    position: absolute;
    top: 10%;
    left: 20%;
    
  
    animation: spinner 8s linear infinite;

}
.all .circle-spain2
{
    position: absolute;
    top: 10%;
    left: 68%;
    transform: translate(-100%,-100%) rotate(0);
  
    animation: spinner 8s linear infinite;

}
}
@media only screen and (min-width:1200px)
{
    .all{
         box-shadow: 0.1rem 0.1rem 10rem 2rem black inset;
    }
    .container{
        width: 25%;
        height: 65%;
    }
    .all .circle-spain
{
   
    position: absolute;
    top: 20%;
    left: 20%;
    
    
  
    animation: spinner 8s linear infinite;

}
.all .circle-spain2
{
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(-100%,-100%);
  
    animation: spinner 8s linear infinite;

}
}

