*
{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html
{
    font-size: 62.5%;
    font-family: sans-serif;
    box-sizing: border-box;
}
body
{
    overflow: hidden;
}
.all
{
    background-image: linear-gradient(to right bottom, rgb(119, 187, 255),rgb(83, 169, 255),rgb(73, 164, 254),rgb(5, 5, 28),rgb(5, 5, 28),rgb(5, 5, 28),rgb(0, 0, 0));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
}

.i
{
    position: absolute;
    top: 5%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(255, 255, 255, 1);
    animation: shooting 5s infinite linear;
    scroll-behavior: none;

}
.i:nth-child(1)
{
    top: 0;
    right: 0;
    left: initial;
   
    animation-duration: 16s;
    scroll-behavior: none;
}
.i:nth-child(2)
{
    top: 0;
    right: 80px;
    left: initial;
   
    animation-duration: 19s;
    scroll-behavior: none;
}
.i:nth-child(3)
{
    top: 80px;
    right: 180px;
    left: initial;
    
    animation-duration: 15s;
    scroll-behavior: none;
}
.i:nth-child(4)
{
    top: 5px;
    right: 0px;
    left: initial;
    
    animation-duration: 10s;
    scroll-behavior: none;
}
.i:nth-child(5)
{
    top: 10px;
    right: 90px;
    left: initial;
    
    animation-duration: 18s;
    scroll-behavior: none;
}
.i:nth-child(6)
{
    top: 20px;
    right: 100px;
    left: initial;
    
    animation-duration: 22s;
    scroll-behavior: none;
}
.i:nth-child(7)
{
    top: 100px;
    right: 50px;
    left: initial;
 
    animation-duration: 25s;
    scroll-behavior: none;
}
.i:nth-child(8)
{
    top: 50px;
    right: 150px;
    left: initial;
   
    animation-duration: 20s;
    scroll-behavior: none;
}
.i:nth-child(9)
{
    top: 20%;
    right: 150px;
    left: initial;
   
    animation-duration: 24s;
    scroll-behavior: none;
}
.i:nth-child(10)
{
    top: 10%;
    right: 0px;
    
    
    animation-duration: 16s;
    scroll-behavior: none;
}
.i::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 2px;
    background-image: linear-gradient(90deg,#fff,transparent);

}
@keyframes shooting{

    0%
    {
       transform: rotate(315deg) translateX(0);
       opacity: 1;
       scroll-behavior: none;
    
    }
    100%
    {
        transform: rotate(315deg) translateX(-10000px);
        opacity: 0;
        scroll-behavior: none;
        
       
    }
}




.container
{
    height: 70vh;
    width: 25vw;
   display: grid;
   grid-template-rows:2fr minmax(20px,min-content) repeat(4,1fr);
   grid-template-columns: 1fr 4fr 1fr;
    background-color: rgb(126, 138, 168);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to right bottom, rgba(3, 147, 176, 0.544),rgb(141, 126, 193),rgba(73, 146, 210, 0.761));
   transition: all 0.3s;
   overflow: hidden;
    z-index:100;



}
.container:active
{
    transform: scale(1.05);
}
.all .circle-spain
{
   
    position: absolute;
    top: 10%;
    left: 28%;
    
    z-index:101;
    animation: spinner 8s linear infinite;

}
.all .circle-spain2
{
    position: absolute;
    top: 10%;
    left: 62%;
    transform: translate(-100%,-100%) rotate(0);
    z-index:101;
    animation: spinner 8s linear infinite;

}


.spin
{
    
    animation-name: spin;
    animation-duration: 2s;
}



.app-title
{
    
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 3rem;
    font-family: monospace;
    font-weight: 600;
    letter-spacing: 4px;
    background-image: linear-gradient(to right, rgba(98, 173, 163, 0.734),rgb(65, 146, 111));
    border-radius: 20px;
    height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.weather-icon
{
    grid-row: 3/4;
    grid-column: 2/3;
    position: relative;
    bottom: 20px;
    

    

}
.temperature-value
{
    grid-row: 4/5;
    grid-column: 2/3;
    font-size: 5rem;
    position: relative;
    bottom: 40px;
    z-index:155;
}
.temperature-description
{
    grid-row: 5/6;
    grid-column: 2/3;
    font-size: 3rem;
    position: relative;
    bottom: 40px;
    z-index:155;
}
.location
{
    grid-row: 6/7;
    grid-column: 2/3;
    font-size: 3rem;
    position: relative;
    bottom: 40px;
    z-index:155;
}
.notification
{
    grid-row: 2/3;
    grid-column: 1/4;
    background-color: rgb(212, 42, 42);
    height: 100%;
   font-size: 2rem;
   font-family: sans-serif;
   padding-top: 1rem;
   color: black;
  

}
.ani{
    animation-name: error;
    animation-duration: 1s;
    animation-timing-function: linear;
    
}
.back
{
    background-color: transparent;
}
.copy
{
    position: absolute;
    top: 90%;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-weight: 400;
    text-align: center;
    z-index:155;
}
@keyframes error
{
    0%{
      background-color: rgba(240, 248, 255, 0);
      color: rgba(0, 0, 0, 0);
    }
    100%{
        background-color: rgb(208, 53, 53);
        color: rgb(0, 0, 0);
    }
}




@keyframes  spinner
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform:  rotate(360deg);
    }
}


@media only screen and (min-width:250px)
{


    .container{
        width: 80%;
        height: 65%;
    }

    .all .circle-spain
    {
       
        position: absolute;
        top:3%;
        left: 5%;
    
        z-index:150;
        
      
        animation: spinner 8s linear infinite;
    
    }
    .all .circle-spain2
    {
        position: absolute;
        top: 72%;
        left: 48%;
        transform: translate(-100%,-100%) rotate(0);
           z-index:150;
        animation: spinner 8s linear infinite;
    
    }
}
@media only screen and (min-width:450px)
{
    .container{
        width: 70%;
        height: 70%;
    }

    .all .circle-spain
    {
       
        position: absolute;
        top: 5%;
        left: 5%;
        
        
        
      
        animation: spinner 8s linear infinite;
    
    }
    .all .circle-spain2
    {
        position: absolute;
        top:70%;
        left: 60%;
        transform: translate(-100%,-100%) rotate(0);
      
        animation: spinner 8s linear infinite;
    
    }

}

@media only screen and (min-width:600px)
{
    .container{
        width: 40%;
        height: 60%;
    }
     
    .all .circle-spain
    {
       
        position: absolute;
        top: 5%;
        left: 5%;
        
      
        animation: spinner 7s linear infinite;
    
    }
    .all .circle-spain2
    {
        position: absolute;
        top: 70%;
        left: 73%;
        transform: translate(-100%,-100%) rotate(0);
      
        animation: spinner 7s linear infinite;
    
    }

}

@media only screen and (min-width:900px)
{
    .container{
        width: 40%;
        height: 60%;
    }
    .all .circle-spain
{
   
    position: absolute;
    top: 5%;
    left: 5%;
    
  
    animation: spinner 8s linear infinite;

}

.all .circle-spain2
{
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-100%,-100%) rotate(0);
     
    animation: spinner 8s linear infinite;

}
}
@media only screen and (min-width:1200px)
{
    .container{
        width: 25%;
        height: 65%;
    }
  
    .all .circle-spain
{
   
    position: absolute;
    top: 10%;
    left: 10%;
    
    
  
    animation: spinner 8s linear infinite;

}
.all .circle-spain2
{
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-100%,-100%);
  
    animation: spinner 8s linear infinite;

}
}

